    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="<%= data.description %>" />
    <meta name="keywords" content="<%= data.keywords %>" />
    <title><%= data.pankuzu[data.currentNum].title %>｜<%= data.siteName %></title>
    <meta property="og:site_name" content="<%= data.siteName %>" />
    <meta property="og:title" content="<%= data.ogpTitle %>" />
    <meta property="og:description" content="<%= data.description %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= data.url %>" />
    <meta property="og:image" content="<%= data.ogp %>" />